.paginationBtns{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    color: white;
}
.paginationBtns a{
    text-decoration: none;
    color: white;
    background: rgb(7, 15, 65);
    
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.paginationBtns a:hover{
    color: white;
    background: orangered;
}